{% extends 'nav.html' %}

{%block body %}
<div class="container">
  <!-- class="nav nav-tabs"  tabs той самий додаток визначающий вигляд нав.бару
  також призміні класу треба міняти і data-toggle="tab" в а тегу -->
  <ul class="nav nav-tabs" role="navtabs">
    <li><a href="{{url_for('nav')}}">djdj</a></li>
    <li><a href="#sid" data-toggle="tab">sid</a></li>
    <li><a href="#sad" data-toggle="tab">sad</a></li>
    <li><a href="#y" data-toggle="tab">y</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="sid"><h5>some text</h5></div>
    <div class="tab-pane fade" id="sad"><h5>some second text</h5></div>
    <div class="tab-pane fade" id="y"><h5>some third text</h5></div>
  </div>
</div>
{% endblock %}
