{% extends "nav.html" %}



{% block body %}
<div class="container">
  <div class="font_icon">
    <i class="bi bi-apple"></i>
    <span class="bi bi-apple"></span>
  </div>
  <div class="report">
    <span class="badge">33</span>
  </div>
  <div class="iicon">
    <!-- class="img-responsive" клас який зберігає картинку в
    правельному розмірі не залежно від розмііа вікна -->
    <img src="static/img/icon.jpg" class="img-responsive" >
    <img src="static/img/icon.jpg" class="img-rounded" >
    <img src="static/img/icon.jpg" class="img-thumbnail" >
  </div>
</div>

{% endblock %}
