{% extends "nav.html" %}



{% block body %}

<div class="row">
  <div class="col-xs-12 col-sm-9 col-mp-4 col-lg-6" style="background-color: #00CCFF">Mepabñ</div>
  <div class="col-xs-12 col-sm-3 col-md-8 col-lg-6" style="background-color: #FFFF">Bropoñ</div>
</div>
<!-- row то конструкція рядка -->
<div class="row">
  <!-- push + pull зміна місцями контейнерів  -->
  <div class="col-lg-5 col-lg-push-7"
<div class="row"
    <div class="col-lg-6" style="background-color: #00CCFF">Mlepebñ</div>
    <div class="col-lg-6" style="background-color: #CCOOFF">Bropoñ</div>
    </div>
  </div>
<div class="col-lg-7 col-lg-pull-5" style="background-color: #COOFF">Bropoñ</div>
</div>
{% endblock %}
