{% extends "nav.html" %}



{% block body %}
<div class="container">
  <p class="text-muted">40-TO pycHO.</p>
  <p class="text-primary">Ty MOXHO 4TO-0 BakHOe</p>
  <p class="text-success">Bc</p>
  <p class="text-info"> </p>
  <p class="text-warning">worning</p>
  <p class="text-danger">M b!</p>

  <p class="bg-primary">Ty B*O</p>
  <p class="bg-success">Bjd</p>
  <p class="bg-info">Hannere nonesHyn umopmauMO.</p>
  <p class="bg-warning">Hannere nonesHyn umopmauMO.</p>
  <p class="bg-danger">M</p>

<h1>somethning <small>something smal </small></h1>
<h3>somethning <small>something smal </small></h3>
<h5>somethning <small>something smal </small></h5>
<p>Test, test <mark>test example</mark></p>

<p cclass="text-left"> textclass="text-left" </p>
<p class="text-center"> extcl </p>
<p class="text-right"> somethning </p>
<p class="text-justify"> somethning </p>
<p class="text-nowrap"> Tekcr </p>

<!-- reverse клас для відображення з права -->
<blockquote class="blockquote-reverse">
  цитата
  <footer>CB Ixo6c!</footer>
</blockquote>

<p class="text-uppercase"> верхній регістр</p>
<p class="text-lowercase"> НИЖНІЙ РЕГІСТ</p>
<p class="text-capitalize"> текст ну короче поймеш як </p>

<code>if</code>
<code>while</code>

<div class="container">
  <pre>
if game is free():
  print("gg")
  </pre>
</div>
</div>

{% endblock %}
