{% extends "nav.html" %}

{% block body %}

<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        заголовок
      </div>
      <div class="panel-body">
        тіло
      </div>
      <div class="panel-footer">
        підвал
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        заголовок
      </div>
      <div class="panel-body">
        тіло
      </div>
      <div class="panel-footer">
        підвал
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        заголовок
      </div>
      <div class="panel-body">
        тіло
      </div>
      <div class="panel-footer">
        підвал
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    
    <div class="panel-heading">
      заголовок
    </div>
    <div class="panel-body">
      тіло
    </div>
    <div class="panel-footer">
      підвал
    </div>
  </div>
</div>

{% endblock %}
